nav.navbar-default.navbar-fixed-top {
  box-shadow: 0 0 30px black;
}
.navbar-brand img {
  display: inline-block;
  vertical-align: middle;
}
a.navbar-brand {
  padding: 6px;
  color: #333 !important;
}
.navbar-brand h1 {
  vertical-align: middle;
  display: inline;
  font-size: 30px;
}

/*Sticky footer*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 44px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  padding-top: 5px;
}
@media (max-width: 767px) {
  footer .container {
    padding-left: 3px;
    padding-right: 3px;
  }
}
.fob {
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 6px #333;
  margin-bottom: 20px;
}
.pad-after {
  margin-bottom: 20px;
}
.navbar-default { 
  background-color: white;
}
.img-app {
  border-radius: 15%;
}
